.col {
    cursor: pointer;
  }
  
.col .pointer:after {
    color: white;
    content: "";
  }
  
.col .pointer:hover:after {
    color: cyan;
  }

.pointer:after {
    color: white;
    content: "";
  }
  
.pointer:hover:after {
    color: cyan;
  }
